<ion-content padding class="login auth-page">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-text color="light">
        <ion-text color="light" class="fw700">Estados</ion-text>
      </ion-text>
    </ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <div padding-horizontal text-center>
      <div class="logo"></div>
      <h3 no-margin>
        <ion-text color="light" class="fw700">
          <ion-text color="light">Inserindo</ion-text>
        </ion-text>
      </h3>
    </div>
  </ion-toolbar>
  <div class="auth-content">
    <form class="list-form auth-conten" (keydown)="keyDownFunction($event)">
      
  <input-mbi [(ngModel)]="estado.uf" name="uf" label="Uf">
   </input-mbi>      
  <input-mbi [(ngModel)]="estado.nome" name="nome" label="Nome">
   </input-mbi>      
    </form>
    <div margin-top>
      <ion-button size="medium" expand="full" shape="round" icon-right tappable (click)="salvar()">
        Confirmar 
        <ion-icon name="checkmark-circle" color="success"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-content>