<ion-content padding class="login auth-page">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-text color="light">
        <ion-text color="light" class="fw700">Empresas</ion-text>
      </ion-text>
    </ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <div padding-horizontal text-center>
      <div class="logo"></div>
      <h3 no-margin>
        <ion-text color="light" class="fw700">
          <ion-text color="light">Inserindo</ion-text>
        </ion-text>
      </h3>
    </div>
  </ion-toolbar>
  <div class="auth-content">
    <form class="list-form auth-conten" (keydown)="keyDownFunction($event)">
      
  <input-mbi [(ngModel)]="empresa.pessoaJuridica.razaoSocial" name="razaoSocial" label="RazaoSocial">
   </input-mbi>      
  <input-mbi [(ngModel)]="empresa.pessoaJuridica.nomeFantasia" name="nomeFantasia" label="NomeFantasia">
   </input-mbi>      
  <input-mbi [(ngModel)]="empresa.pessoaJuridica.cnpj" name="cnpj" label="Cnpj">
   </input-mbi>      
  <input-mbi [(ngModel)]="empresa.pessoaJuridica.logradouro" name="logradouro" label="Logradouro">
   </input-mbi>      
  <input-mbi [(ngModel)]="empresa.pessoaJuridica.bairro" name="bairro" label="Bairro">
   </input-mbi>      
  <input-mbi [(ngModel)]="empresa.pessoaJuridica.numero" name="numero" label="Numero">
   </input-mbi>      
  <input-mbi [(ngModel)]="empresa.pessoaJuridica.complemento" name="complemento" label="Complemento">
   </input-mbi>      
  <input-mbi [(ngModel)]="empresa.pessoaJuridica.cidade" name="cidade" label="Cidade">
   </input-mbi>      
    </form>
    <div margin-top>
      <ion-button size="medium" expand="full" shape="round" icon-right tappable (click)="salvar()">
        Confirmar 
        <ion-icon name="checkmark-circle" color="success"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-content>