:host {
  ion-content {
    --background: linear-gradient(
      135deg,
      var(--ion-color-dark),
      var(--ion-color-primary)
    );
  }
  ion-list {
    &.list-md {
      padding: 0;
    }
  }
  ion-label {
    color: white;
  }
  ion-icon {
    color: white;
  }
}

ion-item[button] {
  pointer-events: auto !important;
}
